{% extends 'base/base.html' %}
{% load static %}

{% block content %}
   <!-- <script src="{% static 'js/script.js'%}"></script> -->
   <div class="header-bar">
      <div>
         
         <h2><span>Hello {{request.user.username|title}}</span></h2>
         <h5><span><i>You have {{count}} inclomplete Tasks</i></span></h5>
          <a href="{% url 'task_create' %}" class="add-task"> &#10011;</a>
      </div>
      {% if user.is_authenticated %}
         <a href="{% url 'logout' %}">Logout</a>
       {% else %}
         <a href="{% url 'login' %}">Login</a>
         <a href="{% url 'sign_up' %}">SignUp</a>
      {% endif %}
   </div>
   <form method="GET" style="margin: top 20px;margin-right: 20px;margin-bottom: 20px; display: flex;">
      <input type="text" name="search_txt" placeholder="Search Tasks..">
      <button type="submit">Search</button>
   </form>
   <h3>Task List </h3>
   <div id="tasklist" class="task-items-wrapper">
   <form method="post">
      {% csrf_token %}
      <button type="submit"name="save" value="save">Save Changes</button>
      {% for task in tasks %}
         {% if task.complete == False %}
         <ul>
            <input type="checkbox" name="c{{task.id}}" value="clicked"> {{task.title}}>
            <a href="{% url 'task_update' task.id%}">
               <svg xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-pen"
                    viewBox="0 0 16 16">
                  <path
                        d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
               </svg>
            </a>
            <a href="{% url 'task_delete' task.id%}" class="delete-link"> &#9747;</a>
               </ul>
               {% else %}
         <ul>
            <input type="checkbox" name="c{{task.id}}" value="clicked" checked><i><s>{{task.title}}</s></i>
            <a href="{% url 'task_update' task.id%}">
               <svg xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-pen"
                    viewBox="0 0 16 16">
                  <path
                        d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
               </svg>
            </a>
            <a href="{% url 'task_delete' task.id%}" class="delete-link">&#9747;</a>
               </ul>
               {% endif %}
               {% empty %}
               <h3>No Tasks Created</h3>
               {% endfor  %}
   </form>         
   </div>
<!-- Ajax Code to change task complete value -->
{% endblock %}