{% extends 'base/base.html' %}
{% load static %}

{% block content %}
   <!-- <script src="{% static 'js/script.js'%}"></script> -->
   <div class="header-bar">
      <div>
         
         <h2><span>Hello {{request.user.username|title}}</span></h2>
         <h5><span><i>You have {{count}} inclomplete Tasks</i></span></h5>
          <a href="{% url 'task_create' task_id %}" class="add-task"> &#10011;</a>
          <a href="{% url 'tasks_manager' %}"  class="add-task">Back</a>
      </div>
      {% if user.is_authenticated %}
         <a href="{% url 'logout' %}">Logout</a>
       {% else %}
         <a href="{% url 'login' %}">Login</a>
         <a href="{% url 'sign_up' %}">SignUp</a>
      {% endif %}
   </div>
   <form method="GET" style="margin: top 20px;margin-right: 20px;margin-bottom: 20px; display: flex;">
      <input type="text" name="search_txt" placeholder="Search Tasks..">
      <button type="submit">Search</button>
   </form>
   <h3>Task List </h3>
   <div id="tasklist" class="task-items-wrapper">
      {% for task in task_list %}
      <p>
         <input type="checkbox" name="" id="">
         <button  type="button" data-bs-toggle="collapse" 
            data-bs-target="#collapseExample{{ task.id }}" aria-expanded="false"
            aria-controls="collapseExample{{ task.id }}" style="border:none;background-color: inherit;" >
             <li>
               {{ task.title }}  
            </li>
         </button>
         <div style="display: inline-flex;">
         <a href="{% url 'task_update' task.id %}">
            <i class="fa-solid fa-pen"></i>
         </a>
         <form action="{% url 'task_delete' task.id %}" method="post" >
            {% csrf_token %}
            <button type="submit" onclick="alert('Do you wanna delete the task?')" style="border:none;background-color: inherit;">
                <i class="fa-solid fa-trash"></i>
            </button>
        </form>
      </div>
     </p>
     <div class="collapse" id="collapseExample{{ task.id }}">
         <div class="card card-body" style="background-color: rgb(63, 60, 60); color:aliceblue">
             {{ task.description }}
         </div>
     </div>
         
   {% empty %}
   <h3>No Tasks Created</h3>
   {% endfor  %}
   </form>         
   </div>
<!-- Ajax Code to change task complete value -->
{% endblock %}